@font-face {
  font-family: Heaters;
  src: url("./font/Heaters.otf") format("opentype");
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: crimson;
  font-size: large;
}

#logo {
  padding-left: 5vw;
  font-family: Heaters, Verdana, Tahoma, sans-serif;
  font-size: xx-large;
}

#logo h3 {
  margin: 8.5px 0;
  color: white;
}

.rightNav {
  display: flex;
}
.navbtn {
  padding: 19px;
  border: 0;
  text-decoration: none;
  background-color: crimson;
  color: white;
}

.navbtn:hover {
  background-color: darkred;
  cursor: pointer;
}

/* The dropdown container */
.dropdown,
.cart {
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn,
.cart button {
  border: none;
  outline: none;
  padding: 20px;
  background-color: inherit;
  color: white;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.dropdown:hover .dropbtn,
.cart button:hover {
  background-color: darkred;
  cursor: pointer;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a button {
  width: 100%;
  padding: 10px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.cart {
  padding-right: 10px;
  margin: 0;
}

@media only screen and (max-width: 768px) {
  #logo {
    font-size: larger;
  }
}
