.path {
  margin: 30px auto 10px;
}

.path,
.pageBtns {
  width: 85%;
  max-width: 1100px;
}

.path pre {
  padding: 10px;
  padding-bottom: 0;
  font-size: large;
  font-style: italic;
}

.product-grid {
  margin: 0 auto 10px;
  padding: 10px;
  gap: 1%;
  width: 85%;
  max-width: 1100px;
  background-color: white;
  display: grid;
  grid-template-columns: 24.25% 24.25% 24.25% 24.25%;
  grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
}

.card {
  list-style-type: none;
  max-height: 350px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
}

.card:hover {
  border: 2px solid crimson;
  cursor: pointer;
}

a {
  height: 100%;
  width: 100%;
  text-decoration: none;
}

.cardImg {
  width: 100%;
  height: 70%;
  object-fit: contain;
}

.info {
  margin: 0;
  padding: 0 10px 10px;
  height: 29%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: maroon;
}

.info span {
  color: antiquewhite;
  word-wrap: break-word;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title {
  margin: 15px 0;
}

.price {
  font-size: larger;
  margin-bottom: 5px;
}

.currency {
  font-size: small;
}

.ratings {
  display: flex;
}

.star {
  padding: 0;
  margin-left: 2px;
  display: flex;
  text-align: center;
}

.pageBtns {
  padding: 10px;
  padding-bottom: 0;
  margin: 0 auto 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: large;
  border-bottom: 1px solid black;
  height: 50px;
}

.pageBtns button {
  background-color: lightgray;
  border: 0;
  font-size: large;
}

.pageBtns button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.pageBtns button[disabled] {
  text-decoration: none;
  cursor: default;
}

@media only screen and (max-width: 1200px) {
  .product-grid {
    grid-template-columns: 32.67% 32.67% 32.67%;
  }
}

@media only screen and (max-width: 920px) {
  .product-grid {
    grid-template-columns: 49% 49%;
    gap: 2%;
    grid-row-gap: 1%;
    min-height: 100vh;
  }
}

@media only screen and (max-width: 768px) {
  .path,
  .pageBtns {
    width: 95vw;
    margin-right: 0;
    margin-left: 0;
  }

  .product-grid {
    width: 95vw;
    margin-right: 0;
    margin-left: 0;
  }

  .card {
    max-height: 400px;
  }
}
